<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="row" ng-if="errorMessage">
      <p ng-repeat="error in errorMessage.errors">
        {{error}}
      </p>
    </div>
    <form ng-submit="doSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="signupData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Password confirmation</span>
          <input type="password" ng-model="signupData.password_confirmation">
        </label>
        <label class="item" ng-if="!okMessage">
          <button class="button button-block button-positive" type="submit">Sign up</button>
        </label>
      </div>
    </form>
    <div class="row" ng-if="errorMessage">
      <p ng-repeat="error in errorMessage.data.errors.full_messages">
        {{error}}. Please try again.
      </p>
    </div>
    <div ng-if="okMessage">
      <form ng-submit="closeSignup()">
        <div class="list">
          <p>Sign up ok. Account has been created and can be used to sign in.</p>
          <p>Press OK below to close the form</p>
          <label class="item">
            <button class="button button-block button-positive" type="submit">OK</button>
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-modal-view>
